<div class="intro">
  <div class="intro__descrip">
    <h1>Huge selection of delicions recipe ideas</h1>
    <p class="text">
      Explore our huge selection of delicions recipe ideas including: easy
      deserts,delicious vegan and vegetarian dinner ideas, gorgeos pasta
      recipes, quick bakes,family-friendly meals and gluten recipes
    </p>
    <div class="btns">
      <a href="/explore-latest" class="btn text dark">Explore Latest</a>
      <a href="/random-recipe" class="btn text">Show random</a>
    </div>
  </div>
  <div>
    <img
      src="/img/hero-image.png"
      width="607"
      height="510"
      alt="Cooking Blog"
      loading="Lazy"
    />
  </div>
</div>

<!-- Category Start -->

<div class="category__page">
  <% if(category != ''){ %> <% category.forEach((category,index)=>{ %>
  <a href="#" class="category__link">
    <div class="category__img">
      <img src="/img/<%- category.img %>" alt="<%- category.name %>" />
    </div>
    <div><%- category.name%></div>
  </a>
  <% })%> <% }%>
  <a href="/category" class="category__link">
    <div class="category__img">
      <img src="/img/view-all.jpg" />
    </div>
    <div>View all</div>
  </a>
</div>

<!-- Category End -->

<!-- Latest start-->

<section>
  <div class="title">
    <h2>Latest recipes</h2>
    <a href="/explore-latest">View more</a>
  </div>
  <div class="explore">
    <a href="#" class="category__link">
      <div class="category__img category__img--large">
        <img src="/img/chocolate-banoffe-whoopie-pies.jpg" />
      </div>
      <div>American food</div>
    </a>
    <a href="#" class="category__link">
      <div class="category__img category__img--large">
        <img src="/img/chocolate-banoffe-whoopie-pies.jpg" />
      </div>
      <div>American food</div>
    </a>
    <a href="#" class="category__link">
      <div class="category__img category__img--large">
        <img src="/img/chocolate-banoffe-whoopie-pies.jpg" />
      </div>
      <div>American food</div>
    </a>
    <a href="#" class="category__link">
      <div class="category__img category__img--large">
        <img src="/img/chocolate-banoffe-whoopie-pies.jpg" />
      </div>
      <div>American food</div>
    </a>
    <a href="#" class="category__link">
      <div class="category__img category__img--large">
        <img src="/img/chocolate-banoffe-whoopie-pies.jpg" />
      </div>
      <div>American food</div>
    </a>
  </div>
</section>

<!-- Latest end-->

<!-- Submit start -->
<section class="submit">
  <img
    src="/img/publish-recipe.png"
    alt="Publish your recipes today for FREE"
    width="566"
    height="208"
  />
  <h1>Publish your recipes today for FREE</h1>
  <p class="text">Publish your recipe front of thousands of people for free.</p>
  <div>
    <a href="/submit" class="btn dark">Submit recipe</a>
  </div>
</section>
<!-- Submit end -->
