body {
  background-image: url("/img/i-like-food.svg");
  background-color: rgb(243, 243, 243);
  font-family: "Rubik", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

.container {
  background-color: white;
  width: 80%;
  padding: 0 50px;
  margin: 0 auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.385);
}

.header {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(184, 184, 184);
  margin-bottom: 40px;
}

.nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.seacrh__input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #333;
}

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 60px;
}

.intro__descrip h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.btn {
  box-sizing: border-box;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.btns {
  display: flex;
  gap: 20px;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 60px;
}

.category__link {
  text-decoration: none;
  text-align: center;
  display: block;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.178);
  overflow: hidden;
  border-radius: 8px;
}

.category__img img {
  object-fit: cover;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.category__img--large {
  height: 330px;
}
.category__img--large img {
  object-fit: cover;
}

.explore {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.submit {
  text-align: center;
}

.submit h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category__page {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.road {
  display: flex;
  list-style: none;
  gap: 2px;
  margin: 10px 0 30px;
  padding: 0;
}

.road li {
  font-size: 20px;
  color: #999;
}

.recipe__page {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.recipe__img img {
  width: 100%;
}

.recipe-bottom {
  margin-bottom: 20px;
}
